@model  List<MovieWebApp.Models.Movies.MovieModel>

@{
    ViewData["Title"] = "SearchResultTitle";
}

<h1>Search Results by Title</h1>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @foreach (var item in Model)
            {
                <p>@item.Title</p>
                    
            }
        </dt>
        @*<dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Search">Back to Search</a>
</div>